body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #ff63c6eb;
    color: white;
    padding: 20px;
    text-align: center;
    
}

main {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.cta {
    display: inline-block;
    background-color: #ff63c6eb;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.cta:hover {
    background-color: #ff63c6eb;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff63c6eb;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

